.profileBtn {
  margin: 0 10px 0 35px !important;
  @media screen and (max-width: 1024px) {
    margin: 0 10px 0 25px !important;
  }
  @media screen and (max-width: 600px) {
    margin: 0 10px 0 15px !important;
  }
}
